@import "colors";

#header-navbar {
    background-color: $white;

    .navbar-content {
        display: flex;
    }

    .nav-link-font {
        font-size: 14px;
        color: $black;
    }

    #navbar-brand-font {
        margin-right: 0;

        img {
            width: 80%;
        }
    }

    #navbar-brand-font :hover {
        font-weight: bold;
    }

    .nav-link-font:hover {
        font-weight: bold;
    }

    .dropdown-item.active, .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: $mahogany;
    }
}

@media (max-width: 740px) {
    .navbar-content {
        display: inline !important;
    }
    #header-navbar {
        position: relative;
        display: -webkit-box;
    }
}